.cor {
    background-color: #ceebfb;
}
#menu-h {
    list-style-type: none;
    padding: 0;
    background-color: #ceebfb;
}
#menu-h li {
    display: inline;
}
#menu-h li a {
    color: black;
    display: inline;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    transition: background .6s;
}
header ul li a:hover {
    background-color: #4a9ae9;
    
}
li{
    position: relative;
    left: 13%;
}
.titulo {
    font-family: 'Courier New', Courier, monospace;

}

.corpo {
    background-color: #ceebfb;
	width: 27%;
	border-radius: 20%;
    padding: 3%;
    left: 40%;
    position: relative;
}
.h1 {
    font-family: 'Courier New', Courier, monospace;
}
.perfil {
    width: 100px;
    position: relative;
    left: 35%;
}