.teste {
     border: 15px solid #ceebfb;
     border-radius: 10%;
     margin: 40px;
     padding: 43px;
}
.titulo {
    border-bottom: 31px solid #ceebfb;
    position: relative;
    width: 104%;
    right: 2%;
    align-items: justify;
}
.volta {
    position: relative;
    left: 87%;
}
.acoes {
    text-align: center;
    position: relative;
}